<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
	<meta charset="utf-8" />

    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/ui-grid.css" rel="stylesheet" />
    <link href="styles/site.css" rel="stylesheet" />
</head>
<body>
    <div class="perf-ctrl" ng-controller="PerfCtrl">
        <h3>Peformance Counters</h3>
        <ul ng-cloak>
            <li ng-repeat="(key, perfKey) in perfKeys">
                <div ng-if="perfKey.type == 'average'">
                    <span>{{perfKey.name}}</span>
                    <span>{{perfKey.average}}</span>
                    <span>ms</span>
                </div>

                <div ng-if="perfKey.type == 'number'">
                    <span>{{perfKey.name}}</span>
                    <span>{{perfKey.value}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="grid-wrapper">
        <div class="grid-ctrl" ng-controller="GridCtrl" ng-cloak>
            <div class="buttons">
                <button ng-click="start()">Start</button>
                <button ng-click="stop()">Stop</button>
                <button ng-click="addNewRows()">Add Row (10000a)</button>
            </div>

            <div class="definitions">
                <span class="field">
                    Rows: <input type="number" ng-change="rowsChanged()" ng-model="rows" />
                </span>

                <span class="field">
                    Extra Columns: <input type="number" ng-change="extraColumnsChanged()" ng-model="extraColumns" />
                </span>

                <span class="field">
                    Changes: <input type="number" ng-change="mergeSizeChanged()" ng-model="mergeSize" />
                </span>

                <span class="field">
                    Interval: <input type="number" ng-change="intervalChanged()" ng-model="interval" />
                </span>
            </div>

            <!--
            --> 

            <div 
                 ui-grid="gridOptions" 
                 ui-grid-grouping
                 ui-grid-expandable                  
                 ui-grid-edit 
                 ui-grid-selection
                 ui-grid-resize-columns
                 class="myGrid" >
            </div>
        </div>
    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="lib/ui-bootstrap-tpls.js"></script>
    <script src="lib/ui-grid.js"></script>
    <script src="app/module.js"></script>
    <script src="app/PerfService.js"></script>
    <script src="app/Digest.js"></script>
    <script src="app/GridCtrl.js"></script>
    <script src="app/PerfCtrl.js"></script>
    <script src="app/InputFormCtrl.js"></script>

    <!--<script type="text/ng-template" id="elbit/grid-cell-template">
        <div elbit-grid-cell class="ui-grid-cell-contents" ng-class="{changed: (row.entity.modifyVersion === $root.modifyVersion)}">{{row.entity[col.field]}}</div>
    </script>-->

    <script type="text/ng-template" id="ui-grid/ui-grid-row">
        <div 
             ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" 
             ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" 
             class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader, 'changed': row.entity.modifyVersion === $root.modifyVersion }" 
             role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}" ui-grid-cell>
        </div>
    </script>
</body>
</html>
